VITE_SUPABASE_URL=https://rkhprvvatunwtjq
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpbXBvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMwMDY0NjUsImV4cCI6MjA5ODU4MjQ2NX0.b5vRYGXbYxP_ap1lTkgVe3w9npBZ3MgOCgwmF2ae38Y
 
# Firebase Config (Replace with your actual keys from Firebase Console)
VITE_FIREBASE_API_KEY=your-api-key
VITE_FIREBASE_AUTH_DOMAIN=your-auth-domain
VITE_FIREBASE_PROJECT_ID=your-project-id
VITE_FIREBASE_STORAGE_BUCKET=your-storage-bucket
VITE_FIREBASE_MESSAGING_SENDER_ID=your-sender-id
VITE_FIREBASE_APP_ID=your-app-id
 
# Backend Config
VITE_API_URL=https://backen.com
VITE_API_URL=http://127.0.0.1:8000